{
  "tabWidth": 2,
  "singleQuote": false,
  "semi": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "svelteSortOrder": "scripts-markup-styles",
        "svelteBracketNewLine": true
      }
    }
  ]
}